[submodule "external_repos/wayland/wayland"]
	path = external_repos/wayland/wayland
	url = https://github.com/wayland-project/wayland.git
[submodule "external_repos/libffi/libffi"]
	path = external_repos/libffi/libffi
	url = https://github.com/libffi/libffi.git
[submodule "external_repos/expat/libexpat"]
	path = external_repos/expat/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "external_repos/libxml2/libxml2"]
	path = external_repos/libxml2/libxml2
	url = https://github.com/GNOME/libxml2.git
[submodule "external_repos/liblzma/xz"]
	path = external_repos/liblzma/xz
	url = https://git.tukaani.org/xz.git
[submodule "external_repos/zlib/zlib"]
	path = external_repos/zlib/zlib
	url = https://github.com/madler/zlib.git
[submodule "external_repos/openssl/openssl"]
	path = external_repos/openssl/openssl
	url = https://github.com/openssl/openssl.git
[submodule "external_repos/wlroots/wlroots"]
	path = external_repos/wlroots/wlroots
	url = https://gitea.octiron.soleus.nu/sander/wlroots.git
[submodule "external_repos/wayland-protocols/wayland-protocols"]
	path = external_repos/wayland-protocols/wayland-protocols
	url = https://github.com/wayland-project/wayland-protocols.git
[submodule "external_repos/xkbcommon/libxkbcommon"]
	path = external_repos/xkbcommon/libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "external_repos/libdrm/mesa-drm"]
	path = external_repos/libdrm/mesa-drm
	url = https://github.com/freedesktop/mesa-drm.git
[submodule "external_repos/termux-extra-packages/termux-extra-packages"]
	path = external_repos/termux-extra-packages/termux-extra-packages
	url = https://github.com/Neo-Oli/termux-extra-packages.git
